*.sln
*.suo
*.csproj
*DS_Store
.vs/
.vscode/
.idea/
.vsconfig
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
PlayerLog/
BuildCache/
UserSettings/
LocalCache/
PlayerLogs
Assets/SceneDependencyCache
Recordings/